{{ 'section-header.css' | asset_url | stylesheet_tag }}

<script src="{{ 'menu-navigation.js' | asset_url }}" defer></script>

<div class="s-header">
  <div class="s-header__logo-container">
    <a class="s-header__logo-link" href="/">
      {% if section.settings.logo %}
        {% render 'image',
          image: section.settings.logo,
          max_width: 122,
          max_height: 15,
          preload: true,
          ratio_wrap: false
        %}
      {% endif %}
    </a>
  </div>

  <menu-navigation>
    <div class="s-header__content">
      <nav class="s-header__nav--desktop">
        <ul class="s-header__nav-list">
          {% for link in section.settings.menu.links -%}
            <li class="s-header__nav-item">{{ link.title | link_to: link.url }}</li>
          {%- endfor %}
        </ul>
      </nav>

      <div class="s-header__icons">
        <button class="s-header__icons-btn">
          <div class="s-header__icon">
            {% render 'icon-search' %}
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon s-header__icon--account">
            {% render 'icon-account' %}
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon">
            <a href="{{ routes.cart_url }}">
              {% render 'icon-cart' %}
            </a>
          </div>
        </button>

        <button class="s-header__icons-btn">
          <div class="s-header__icon s-header__icon--burger js-header__menu-button--open">
            {% render 'icon-burger-menu' %}
          </div>
        </button>
      </div>
    </div>

    <div class="s-header__menu js-header__menu">
      <div class="s-header__menu-top">
        <div class="s-header__logo-container">
          <a class="s-header__logo-link" href="/">
            {% if section.settings.logo %}
              {% render 'image',
                image: section.settings.logo,
                max_width: 122,
                max_height: 15,
                preload: true,
                ratio_wrap: false
              %}
            {% endif %}
          </a>
        </div>

        <div class="s-header__icon js-header__menu-button--close">
          {% render 'icon-close' %}
        </div>
      </div>

      <div class="s-header__menu-content"></div>
    </div>
  </menu-navigation>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Company logo",
      "info": "Recommended size: x108"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
